<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/hbelgaicon.png" alt="Bootstrap" width="30" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!--<a class="nav-link active" aria-current="page" href="#">Inicio</a>-->
            <button type="button" class="btn btn-primary" routerLink="/principal">Inicio</button>  
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary ms-2" routerLink="/serdesk">Service Desk</button>           
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary ms-2" routerLink="/pmaker">Process Maker</button>           
          </li>
          

          <li class="nav-item">
            <button type="button" class="btn btn-primary ms-5" [matMenuTriggerFor]="cont" >Panel de Control</button>           
          </li>

        </ul>
       
      </div>
    </div>
  </nav>

  <mat-menu #cont="matMenu">
    <button mat-menu-item routerLink="/cusuario">GESTION USUARIO</button>
    <button mat-menu-item routerLink="/mtto" >MANTENIMIENTO</button>
    <button mat-menu-item routerLink="/login" >LOGIN</button>
    
  </mat-menu>