<app-cabecera></app-cabecera>
<br>
<br>
<br>
<P></P>
<br>
<app-navbar></app-navbar>
<br>
<h1 class="texprincipal">DASHBOARD</h1>
<br>
<br>
<div class="row">
  <div class="col-lg-10">
    <div class="contenido">
      
    </div>
  </div>
  <br>
  <br>
  <div class="col-lg-10">
    <div class="contenido">
      
    </div>
  </div>
</div>
<br>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <app-charts></app-charts>
    </div>
    <div class="col">
      <app-c2nuevo></app-c2nuevo>
    </div>
    
  </div>
 
</div>