.texprincipal {
  text-align: center;
}

.contenido {
  margin-left: 40px; /* Agregar margen a la izquierda */
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
}

.row {
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
}

.col-lg-6 {
  padding: 20px; /* Ajusta el relleno según tus necesidades */
}

.chart-container {
  width: 100%;
  height: 80px;
}
