<div class="wrapper">
    <img class="logo" src="../../../assets/img/hbelgaicon.png" alt="Login">
    <div class="form-wrapper">
    <H1>  Login</H1>
    <br>
    <form (ngSubmit)="loginS()"  [formGroup]="loginUsuario">
        <div class="form-floating mb-3">
            <input class="form-control" formControlName="nombre" placeholder="nombreusuario">
            <label >USUARIO</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control"  formControlName="password" placeholder="Password">
            <label>PASSWORD</label>
          </div>
          <div class="d-grid mt-3">
            <button class="btn btn-primary btn-lg" type="submit">Ingresar</button>
          </div>
          <p class="mt-2">Te olvidaste tu contraseña? <a routerLink="/recuperar">Recuperar Contraseña</a></p>

    </form>
</div>
