.texprincipal {

    text-align: center;
}

.contenido {
    width: 30%;
    margin-left: 20px; /* Mover el contenido hacia la izquierda */
    
}

.form-container {
    margin-left: 40px; /* Adjust the margin value as needed */
  }