<app-cabecera></app-cabecera>
<br>
<br>
<br>
<P></P>
<br>
<app-navbar></app-navbar>
<br>
<h1 class="texprincipal"> GESTION DE USUARIOS</h1>

<br>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label></mat-label>
      <input matInput disabled value="Hospital Belga">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>CI</mat-label>
        <textarea matInput placeholder="132456 cb"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Direccion</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select>
          <mat-option value="admin">Administrador</mat-option>
          <mat-option value="usuario">Usuario Standard</mat-option>
        </mat-select>
      </mat-form-field></td>
      
      <td>
        </td>
    </tr></table>
  </form>
  
  <button type="button" class="btn btn-primary ms-2" >REGISTRAR</button> 
  
  <br>
<br>
<br>
