<app-cabecera></app-cabecera>
<br>
<br>
<br>
<P></P>
<br>
<app-navbar></app-navbar>
<br>
<h1 class="texprincipal"> REPORTE SERVICE DESK</h1>

<br>
<!--<div class="container text-center contenido">
    <div class="row">
      <div class="col">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Seleccione Area:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione:</option>
                <option value="Enfermeria">Enfermeria</option>
                <option value="Administracion">Administracion</option>
                <option value="Seguro">Seguro</option>
                <option value="Emergencia">Emergencia</option>
                <option value="Rayos X">Rayos X</option>
                <option value="Almacen">Almacen</option>
                <option value="UTI">UTI</option>
              </select>
              <br>
              <br>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Incidente</label>
              </div>

              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Default checkbox
                </label>
              </div>
            <label for="exampleFormControlTextarea1" class="form-label">Descripcion del caso</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3">
          </div>
          
      </div>-->
<div class="container text-center contenido">
  <form [formGroup]="formulario" (ngSubmit)="registrarcuenta()">

        <div class="row">
          <div class="col">
            SELECCIONE EL AREA:
          </div>
          <div class="col">
                <select class="form-select" aria-label="Default select example" formControlName="area">
                <option selected>Seleccione:</option>
                <option value="Enfermeria">Enfermeria</option>
                <option value="Administracion">Administracion</option>
                <option value="Seguro">Seguro</option>
                <option value="Emergencia">Emergencia</option>
                <option value="Rayos X">Rayos X</option>
                <option value="Almacen">Almacen</option>
                <option value="Consulta Externa">Consulta Externa</option>
                <option value="UTI">UTI</option>
                <option value="Contabilidad">Contabilidad</option>
                <option value="Consultorio">Consultorio</option>
                <option value="LABORATORIO">Laboratorio</option>
              </select>
          </div>
          
        </div>
        <br>
        <div class="row">
            <div class="col">
              TIPO:
            </div>
            <div class="col">
                  <select class="form-select" aria-label="Default select example" formControlName="tipo">
                  <option selected>Seleccione:</option>
                  <option value="Incidente">Requerimiento</option>
                  <option value="Requerimiento">Incidente</option>
                  
                </select>
            </div>
            
            <div class="mb-3">
                <br>
                <label for="exampleFormControlTextarea1" class="form-label"><strong>Descripcion:</strong></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="descripcion"></textarea>
              </div>
              
          </div>
          <div>
            <button type="submit" style="background-image: url(../../../assets/img/marca-comercial.png); background-size: cover; width: 50px; height: 50px; margin-right: 10px; border: none;"></button>
            <button type="button" style="background-image: url(../../../assets/img/borrar.png); background-size: cover; width: 50px; height: 50px; border: 1px solid transparent;"></button>

          </div>
          